<html>

<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/flatly/bootstrap.min.css" rel="stylesheet" integrity="sha384-T5jhQKMh96HMkXwqVMSjF3CmLcL1nT9//tCqu9By5XSdj7CwR0r+F3LTzUdfkkQf" crossorigin="anonymous">
  <script type="text/javascript" src="{{ url_for('static', filename='hackdevweek.js') }}"></script>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='hackdevweek.css') }}">
</head>

<body>

  <div class="card text-white bg-success mb-3" style="width: 100%;">
    <div class="card-header">Success</div>
    <div class="card-body">
      <h4 class="card-title">Successfully Reported Disease</h4>
      <p class="card-text">Your report for the Hepatitis A (Hep A) virus has been successfully submitted to the CDC.</p>
    </div>
  </div>
</body>

</html>
