<html>

<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/flatly/bootstrap.min.css" rel="stylesheet" integrity="sha384-T5jhQKMh96HMkXwqVMSjF3CmLcL1nT9//tCqu9By5XSdj7CwR0r+F3LTzUdfkkQf" crossorigin="anonymous">
  <script type="text/javascript" src="{{ url_for('static', filename='hackdevweek.js') }}"></script>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='hackdevweek.css') }}">
</head>

<body>

  <div class="card text-white bg-danger mb-3" style="width: 100%;">
    <div class="card-header">ALERT!</div>
    <div class="card-body">
      <h4 class="card-title">FIRST REPORT OF DISEASE</h4>
      <p class="card-text">This new report of the Hepatitis A (Hep A) virus is the first report in the area and could potentially have an outbreak! <br><br> This viral infection is required by the CDC to be reported within 1 day of identification! <br><br> Continue to fill out the report form now!</p>
    </div>
  </div>
</body>

</html>
